{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/product_edit.css">
{% endblock %}

{% block content %}           

    <h1>Changing Products</h1>     

    <span>You are changing the the Product with id {{id}}:</span><br>
    {{name1}} from {{date1}}<br>
    ({{info1}}) <br>

    <br><br>
    
    <span>Enter your changes:</span><br>
    {{form(form1)}}
        
    {{form(form2)}}  <br>
    
    {% if save == 'saved' %}
            <span>Changes in product with id {{id}} was saved:</span><br>
            new Name: {{product.name}}<br>
            new Date: {{product.publicdate|date('Y-m-d')}}<br>
            new Information: {{product.info}}<br>
    {% endif %}

    <br><br><a href="{{ path('product') }}">BACK TO LIST OF PRODUCTS >> </a>  
    
{% endblock %}
