{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/person_like_product.css">
{% endblock %}

{% block content %}  
<h1>List of Preferencies</h1>
    
    <div id='form_person'>
        <h1>Find Users Likes:</h1>
        Choose filters for users:<br><br>
        {{ form(form_person) }}
    </div>

    <div id='form_product'>
        <h1>Find Products lovers:</h1>
        Choose filters for products:<br><br>
        {{ form(form_product) }}
    </div>
    <div style='clear:both'></div>

    <button type="button"><a class="button" href="{{ path('person_like_product') }}">RESET</a></button><br>
    
    {% if match == 0 %}
    {% elseif match == 1 and products is not empty %} 
        <h1>Chosen users:</h1>
        CRITERIA:<br>
        Login: {% if login is  not null %} {{login}}, {% else %} all, {% endif %} <br>  
        Name: {% if i_name is  not null %} {{i_name}}, {% else %} all, {% endif %} <br>  
        Surname:{% if f_name is  not null %} {{f_name}}, {% else %} all, {% endif %} <br> 
        State:  {% if states is not empty %} 
                    {% for state in states %}
                        {{ state }},
                    {% endfor %} 
                {% else %} all. 
                {% endif %}

        <table>
            <tr>
                <th>Login</th><th>Name, Surname</th><th>State</th> <th>Products, which this user likes </th> 
            </tr>
            <tr>   
                {% for person in persons %} 
                    <tr>
                        <td>{{person.login}}</td>
                        <td>{{person.iname}} {{person.fname}} <a href="{{ path('person_like_product_edit', {id_person: person.id}) }}">edit the user's likes</a> </td>
                        <td>{{person.getStateString }}</td>
                        <td>
                            {% for persprod in person.getPersonHaveProducts %}
                                {{ persprod.getProduct.getName }} <br>
                            {% endfor %}   
                        </td>
                    </tr>
                {% endfor %}
            </tr>
        <table><br>
           
        <h1>Products, which these users like:</h1>
            <table>
                <tr>
                    <th>Name of the product</th> <th>Info</th> <th>Publication date</th> <th>Who likes the product </th> 
                </tr>
                    
                {% for product in products %} 
                    <tr>
                        <td>{{product.name}} <a href="{{ path('product_like_person_edit', {id_product: product.id}) }}">edit the product's lovers>></a> </td> <td>{{product.info}}</td> <td>{{product.publicdate|date('Y-m-d')}}</td> 
                        <td>
                            {% for prodpers in product.getProductHavePersons %}
                                {{ prodpers.getPerson.getIName }}  {{ prodpers.getPerson.getFName }}<br>
                            {% endfor %}   
                        </td>
                    </tr>
                {% endfor %}   
            </table> 

    {% elseif  match == 2 and persons is not empty %}
        <h1>Chosen products:</h1>
        CRITERIA:<br>
        Name: {% if name is not null %} {{name}}, {% else %} all, {% endif %} <br>  
        Public date from:{% if date_from is not null %} {{date_from|date('Y-m-d')}}, {% else %} all, {% endif %} <br> 
        Public date to: {% if date_to is not null %} {{date_to|date('Y-m-d')}}. {% else %} all. {% endif %}

        <table>
            <tr>
                <th>Name of the product</th> <th>Info</th> <th>Publication date</th> <th>Who likes the product </th> 
            </tr>
                {% for product in products %} 
                    <tr>
                        <td>{{product.name}} <a href="{{ path('product_like_person_edit', {id_product: product.id}) }}">edit the product's lovers>></a> </td> <td>{{product.info}}</td> <td>{{product.publicdate|date('Y-m-d')}}</td> 
                        <td>
                            {% for prodpers in product.getProductHavePersons %}
                                {{ prodpers.getPerson.getIName }}  {{ prodpers.getPerson.getFName }}<br>
                            {% endfor %}   
                        </td>
                    </tr>
                {% endfor %}   
        </table><br>
        
            <h1>Users, which like these products:</h1>
            <table>
                <tr>
                    <th>Login</th><th>Name, Surname</th><th>State</th> <th>Products, which this user likes </th> 
                </tr>
                
                {% for person in persons %} 
                        <tr>
                            <td>{{person.login}}</td>
                            <td>{{person.iname}} {{person.fname}} <a href="{{ path('person_like_product_edit', {id_person: person.id}) }}">edit the user's likes</a> </td>
                            <td>{{person.getStateString }}</td>
                            <td>
                                {% for persprod in person.getPersonHaveProducts %}
                                    {{ persprod.getProduct.getName }} <br>
                                {% endfor %}   
                            </td>
                        </tr>
                {% endfor %}   
            </table>
        
    {% else %}
        No match!
    {% endif %} 

    <br><br> <a href="{{ path('product') }}">GO TO ADMINISTRATING OF PRODUCTS >> <br></a>
    <a href="{{ path('person') }}">GO TO ADMINISTRATING OF PERSONS >> <br></a>

{% endblock %}  

