{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/person_like_product.css">

   
{% endblock %}

{% block content %}  
<h1>List of Preferencies</h1>
    
    <div id='form_person'>
        <h1>Find Users Likes:</h1>
        Choose filters for users:<br><br>
        {{ form(form_person) }}
    </div>

    <div id='form_product'>
        <h1>Find Products lovers:</h1>
        Choose filters for products:<br><br>
        
        {{ form(form_product) }}

    </div>
    <div style='clear:both'></div>

    <button id='reset' type="button"><a class="button" href="{{ path('person_like_product') }}">RESET</a></button><br>
    
    {% if match == 0 %}
    {% elseif match == 1 %} 
        <h1>Chosen users:</h1>
        Login: {% if login is not null and login != '' %} {{login}}, {% else %} all, {% endif %} <br>  
        Name: {% if i_name is  not null and i_name != '' %} {{i_name}}, {% else %} all, {% endif %} <br>  
        Surname:{% if f_name is  not null and f_name != '' %} {{f_name}}, {% else %} all, {% endif %} <br> 
        State:  {% if states is not empty %} 
                    {% for state in states %}
                        {{ state }},
                    {% endfor %} 
                {% else %} all. <br>
                {% endif %}
        
        <br><br>
            {% if match == 1 and persons is not empty %} 
                <table>
                    <tr>
                        <th>Login</th><th>Name, Surname</th><th>State</th> <th>THEIR LIKES: </th> 
                    </tr>
                    <tr>   
                        {% for person in persons %} {# 500 risk ??#}
                            <tr>
                                <td>{{person.login}}</td>
                                <td>{{person.iname}} {{person.fname}} <a href="{{ path('person_like_product_edit', {id_person: person.id}) }}">edit this user's likes</a> </td>
                                <td>{{person.getStateString }}</td>
                                <td>
                                    {% for persprod in person.getPersonHaveProducts %}  {# 500 risk ??#}
                                        {{ persprod.getProduct.getName }} <br>
                                    {% endfor %}   
                                </td>
                            </tr>
                        {% endfor %}
                    </tr>
                <table><br>
                
               
            {% else %}
                <h1>NO MATCH!</h1>
            {% endif %} 
            
    {% elseif  match == 2 %}
        <h1>Chosen products:</h1>
        
        Name: {% if name is not null %} {{name}}, {% else %} all, {% endif %} <br>  
        Public date from:{% if date_from is not null %} {{date_from}}, {% else %} all, {% endif %} <br> 
        Public date to: {% if date_to is not null %} {{date_to}}. {% else %} all. {% endif %}
    
        <h1>Its lovers:</h1>   
            {% if  match == 2 and products is not empty %}  
                <table>
                    <tr>
                        <th>Name of the product</th> <th>Info</th> <th>Publication date</th> <th>Who likes the product </th> 
                    </tr>
                        {% for product in products %} 
                            <tr>
                                <td>{{product.name}} <a href="{{ path('product_like_person_edit', {id_product: product.id}) }}">edit the product's lovers>></a> </td> <td>{{product.info}}</td> <td>{{product.publicdate|date('Y-m-d')}}</td> 
                                <td>
                                    {% for prodpers in product.getProductHavePersons %}
                                        {{ prodpers.getPerson.getIName }}  {{ prodpers.getPerson.getFName }}<br>
                                    {% endfor %}   
                                </td>
                            </tr>
                        {% endfor %}   
                </table><br>
             
            {% else %}
                <h1>NO MATCH!</h1>
            {% endif %} 
        
    {% endif %} 

    <br><br> <a href="{{ path('product') }}">GO TO ADMINISTRATING OF PRODUCTS >> <br></a>
    <a href="{{ path('person') }}">GO TO ADMINISTRATING OF PERSONS >> <br></a>

{% endblock %}  



