{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/product1.css">
{% endblock %}

{% block content %}  
    
    <h1>List of Products</h1>   

    {{form(form)}}

    <button type="button"><a class="button" href="{{ path('product') }}">Show all items</a></button>

    <button type="button" id="addbutton"><a class="button" target="_blanc" href="{{ path('product_add') }}">Add new product</a></button>

    {% if not products %}
            NO MATCHING!!
        {% else %}  
            <table>
                <tr>
                    <th>Name</th><th>Information</th><th>Publication date</th><th>Change the product</th>
                </tr>
                
                {% for item in products %} 
                   
                                 
                        <tr>
                            <td> {{item.name}} </td>
                            <td> {{item.info}} </td>
                            <td> 
                                {{item.publicdate|date('Y-m-d')}}
                            </td>
                            <td><a target="_blanc" href="{{ path('product_edit', {id: item.id}) }}">edit the product</a></td>
                        </tr>
                   
                {% endfor %}   
            
            </table>
        {% endif %}  

{% endblock %}


