{% extends 'base.html.twig' %}

{% block stylesheets1 %}

    <link rel="stylesheet" href="/css/person_like_product_edit1.css">
    
      

{% endblock %}

{% block content %}  
    <h1>Editing user's preferencies</h1>
    <div id='person'>
        <h1>User:</h1>
            Login: {{ person.login }}, <br>  
            Name: {{ person.iname }}, <br>  
            Surname: {{ person.fname }}, <br> 
            State: {{ person.getStateString }}.
        
        <h1>Products, which this user likes:</h1>
        <table>
            <tr>
                <th>Name of the product</th> <th>Info</th> <th>Publication date</th> <th>UNLIKE</th> 
                        
                {% for productLiked in productsLiked %}
                    <tr>
                        <td>{{productLiked.getName }}</td>
                        <td>{{productLiked.getInfo}}</td>
                        <td>{{productLiked.getpublicdate|date('Y-m-d')}}</td>
                        <td>  <a class="button" href="{{ path('person_like_product_delete', {id_person: person.id, id_product: productLiked.getId }) }}"><span id="plus_minus"> &#8722   </span> </a> </td> 
                    </tr>
                {% endfor %} 
            
             
        </table> 
    </div>

    <div id='form_product'>

        <h1>Choose products to like:</h1>
        
        {{ form(form_product) }}

        <button id='reset' type="button"><a class="button" href="{{ path('person_like_product_edit', {id_person: person.id}) }}">RESET</a></button><br>

        {% if products is not empty  %}
            <h1>Choose new likes:</h1>
           
            <table>
                <tr>
                    <th>Name of the product</th> <th>Info</th> <th>Publication date</th> <th>LIKE</th>
                </tr>
                
                        {% for product in products %} 
                            <tr>
                                    
                                    <td>{{product.name}} </td>
                                    <td>{{product.info}}</td>
                                    <td>{{product.publicdate|date('Y-m-d')}}</td>
                                    <td> 
                                                                         
                                        {% if product in productsLiked %}
                                                Already liked!
                                            {% else %}
                                                <a class="button" href="{{ path('person_like_product_add', {id_person: person.id, id_product: product.id}) }}"> <span id="plus_minus"> +  </span> </a> 
                                        {% endif %}
                                    
                                    </td> 
                            </tr>
                        {% endfor %}
            
            </table>

        {% endif %}
    </div>
    <div style='clear:both'></div>

    <br><br><a href="{{ path('person_like_product') }}">BACK TO COMMON LIST OF PREFERENCIES >> </a> 

{% endblock %} 





