{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/person_like_product_edit1.css">
{% endblock %}

{% block content %}  
    
    <div id='person'>
        <h1>User:</h1>
            Login: {{ person.login }}, <br>  
            Name: {{ person.iname }}, <br>  
            Surname: {{ person.fname }}, <br> 
            State: {{ person.getStateString }}.
        
        <h1>Products, which this user likes:</h1>
        <table>
            <tr>
                <th>Name of the product</th> <th>Info</th> <th>Publication date</th> <th>UNLIKE</th> 
                        
                {% for persprod in person.getPersonHaveProducts %}
                    <tr>
                        <td>{{persprod.getProduct.getName }}</td>
                        <td>{{persprod.getProduct.getInfo}}</td>
                        <td>{{persprod.getProduct.getpublicdate|date('Y-m-d')}}</td>
                        <td> <span class="minus"> &#8722   </span> </td> 
                    </tr>
                {% endfor %} 
            
             
        </table> 
    </div>

    <div id='form_product'>

        <h1>Choose products to like:</h1>
        
        {{ form(form_product) }}

        <h1>Choose new like:</h1>
            <table>
                <tr>
                    <th>Name of the product</th> <th>Info</th> <th>Publication date</th> <th>LIKE</th>
                </tr>
                    
                {% for product in products %} 
                    <tr>
                        <td>{{product.name}} </td>
                        <td>{{product.info}}</td>
                        <td>{{product.publicdate|date('Y-m-d')}}</td>
                        <td> <a class="button" href="{{ path('person_like_product_add', {id_person: person.id, id_product: product.id}) }}"> </a><span class="minus"> +  </span> </a> </td> 
                    </tr>
                {% endfor %}   
            </table> 
    </div>
    <div style='clear:both'></div>

{% endblock %}  

